<ion-content>
  <div class="navbar">
    <div class="logo">
      <img src="assets/icon/casaa.jpeg" alt="Homecheck Logo" style="width: 30px; height: auto;">
    </div>
    <div class="menu">
      <ion-button fill="clear" class="black-button">Proximamente</ion-button>
      <ion-button fill="clear" class="black-button">Contáctanos</ion-button>
      <ion-button fill="solid" class="green-button" routerLink="/sobre-nosotros">Acerca de Nosotros</ion-button>
    </div>
  </div>

  <div class="main-content">
    <div class="title-section">
      <h1 class="main-title">Bienvenido a HomeCheck!</h1>
      <p class="description">
        Para un proyecto de finanzas, los colores deben transmitir profesionalismo y confianza.
      </p>
    </div>

    <div class="form-section">
      <h2 class="form-title">Inicia Sesión</h2>
      <div class="login-form">
        <!-- Campo de Email con Icono -->
        <ion-item class="input-item">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-input [(ngModel)]="credentials.email" type="email" placeholder="Email" required></ion-input>
        </ion-item>

        <!-- Campo de Contraseña con Icono -->
        <ion-item class="input-item">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-input [(ngModel)]="credentials.password" type="password" placeholder="Contraseña" required></ion-input>
        </ion-item>
      </div>

      <p class="extra-text">¿No tienes una cuenta? <a href="/register">Regístrate</a></p>

      <!-- Botón de Login con indicador de carga -->
      <ion-button expand="block" class="green-button" (click)="login()" [disabled]="isLoading">
        <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
        <span *ngIf="!isLoading">Iniciar Sesión</span>
      </ion-button>
    </div>
  </div>
</ion-content>