/* Paleta de colores */
:root {
  --verde-oscuro: #2e7c66;
  --verde-medio: #3a8b74;
  --verde-claro: #58a690;
  --verde-suave: #86c4ad;
  --verde-muy-claro: #a3d5c5;
  --verde-pastel: #c0e6d6;
  --verde-primario: #4caf50;
  --verde-hover: #388e3c;
  --verde-intenso: #2e7d32;
  --verde-neutro: #66bb6a;
  --verde-destacado: #81c784;
  --verde-translucido: rgba(76, 175, 80, 0.5);
  --gris-muy-claro: #f9f8fa;
  --gris-claro: #f1f2f4;
  --gris-suave: #f2f3f6;
  --gris-oscuro: #444;
  --texto-oscuro: #222;
  --texto-claro: #666;
  --blanco: #fff;
}

body {
  background-color: #fff;
}

/* Estilos para el área de registro */
ion-content {
  --background: #f9f8fa;
  padding: 20px;
}

ion-header {
  background-color: #f4f4f4;
}

ion-toolbar {
  --background: #ffffff;
  --color: #000000;
  border-bottom: 2px solid #2d6348;
}

ion-list {
  background: transparent;
  border-radius: 8px;
  padding: 10px;
}

ion-item {
  --background: #333;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ion-input, 
ion-select {
  color: var(--texto-oscuro);
  font-size: 16px;

  &:focus-within {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

ion-button {
  font-weight: bold;
  border-radius: 5px;
  
  &.button-strong {
    --background: var(--verde-oscuro);
    --color: var(--blanco);
  }
  
  &.button-light {
    --background: var(--gris-suave);
    --color: var(--texto-claro);
  }
  
  &[color="light"] {
    --color: #3b805c;
    --background: #f9f9f9;
    --background-hover: #e0e0e0;
  }
}

/* Efecto hover en desktop */
@media (hover: hover) {
  ion-button:hover {
    filter: brightness(1.1);
  }
}

/* Sección de Formulario */
.form-section {
  margin: 2rem auto;
  max-width: 500px;
  padding: 2rem;
  background-color: #3b805c;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-title {
  color: var(--blanco);
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.register-form {
  .input-item {
    background-color: var(--blanco);
    border-radius: 5px;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  ion-icon {
    color: #3b805c;
    font-size: 1.2rem;
    margin-right: 0.5rem;
  }
}

/* Cuadro con Imagen Alusiva */
.image-section {
  margin-top: 1.5rem;
  text-align: center;
}

.domicilio-image {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Botones */
.green-button {
  --background: #3b805c;
  --color: var(--blanco);
  --border-radius: 5px;
  --background-hover: #2d6348;
  margin-top: 1rem;
}